<div class="dashboard_header jumbotron" style="">
</div>
<div class= "row">
 <div style="margin-top:0px;" class="page-heading-bar<%= (can? :manage, :sidebar) ? "" : "-user" %>">
    <ol class="breadcrumb">
      <li ><%= current_user.username %>'s Dashboard</li>
      <% if ((can? :manage, :all) || (can? :update, @event, :context => :admin))%>
      <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="New" class="fa fa-plus-square fa-lg"></i> New Event'.html_safe, {:controller => 'Admin::Events' ,:action => 'new'} ,:class => "btn btn-primary new text-right" , :style => "margin-left: 20%;") %>
      <% end %>
      <input id='events_table_search' type="search" class="form-control" placeholder="Search..." style="display: inline; width: 200px; height: 10px;margin-left: 30%;">

    </ol>
  </div>
</div>
<div id='events_grid' class="row" style='display: block;margin-top:40px;'></div>
<table summary "Events List" id="events_table" style="display: none"class="table table-hover table-bordered bootstrap-datatable datatable" data-source="<%= root_path(format: "json") %>"></table>


<% content_for :scripts do %>
  <script type="text/javascript">

    var datatable;
    $( document ).ready(function() {
      var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "iDisplayLength": 12,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Square Setup", "data": "events_eventTile"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push( 
            { "name": "sSearch", "value": $("#events_table_search").val() },
            { "name": "iDisplayLength", "value": $("#events_table_length").val() }
          );
        },
        fnDrawCallback: function( oSettings ) {
          $('#events_grid').html('');
          $.each(oSettings.aoData, function( index, result ) {
            $('#events_grid').append(result._aData.events_eventTile);
          });
      }
    });
      $("#events_table_length").on("change", function() {
        events_table.dataTable().api().draw(false);
      });
      $('#events_table_search').keyup(function(){
       	events_table.dataTable().api().draw(false);
      });

    })
  </script>
<% end %>