<div id="ribbon">
  <ol class="breadcrumb">
    <li ><%= current_user.username %>'s Dashboard</li>
  </ol>
  <input id='events_table_search' type="search" class="form-control" placeholder="Search..." style="display: inline; width: 150px;float:right;">
  <% if ((can? :manage, :all) || (can? :update, @event, :context => :admin))%>
    <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="New" class="fa fa-plus-square fa-lg"></i> New Event'.html_safe, {:controller => 'Admin::Events' ,:action => 'new'} ,:class => "btn btn-primary" , :style => "float:right;") %>
  <% end %>     
</div>
<div class="col-md-12">
<% if !mobile_device? %>
  <div class="col-md-6">
    <div class="jarviswidget jarviswidget-color-blueDark">
      <header>
        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
          <div class="widget-toolbar">
            <div class="btn-group">
              <button class="calmenu btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                Showing <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                <li>
                  <a href="javascript:void(0);" id="mt">Month</a>
                </li>
                <li>
                  <a href="javascript:void(0);" id="ag">Agenda</a>
                </li>
                <li>
                  <a href="javascript:void(0);" id="td">Today</a>
                </li>
              </ul>
            </div>
          </div>
      </header>
      <div>
        <div class="widget-body no-padding">
          <div class="widget-body-toolbar">     
            <div id="calendar-buttons">
              <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="col-md-6">
  <div id='events_grid'></div>
  <table summary "Events List" id="events_table" style="display: none"class="table table-hover"  data-source="<%= root_path(format: "json") %>"></table>
</div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript">
    var datatable;
    $( document ).ready(function() {
      var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'>r>t<'row'<'col-lg-12 col-md-12'><'col-lg-9 col-md-9 center'p>>",
        "sPaginationType": "full_numbers",
        "iDisplayLength": 6,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Square Setup", "data": "events_eventTile"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push( 
            { "name": "sSearch", "value": $("#events_table_search").val() },
            { "name": "iDisplayLength", "value": $("#events_table_length").val() }
          );
        },
        fnDrawCallback: function( oSettings ) {
          $('#events_grid').html('');
          $.each(oSettings.aoData, function( index, result ) {
            $('#events_grid').append(result._aData.events_eventTile);
          });
      }
    });
      $("#events_table_length").on("change", function() {
        events_table.dataTable().api().draw(true);
      });
      $('#events_table_search').keyup(function(){
        events_table.dataTable().api().draw(true);
      });

      var hdr = {left: 'title',
                center: 'month,agendaWeek,agendaDay',
                right: 'prev,today,next'
          };
          $('#calendar').fullCalendar({
              header: hdr,
              buttonIcons: {
                  prev: 'left-single-arrow',
                  next: 'right-single-arrow'
              },
            timezone: 'local',
                windowResize: function (event, ui) {
                  $('#calendar').fullCalendar('render');
              },

        eventSources: [
        {
            url: '/cal_events.json',
            type: 'GET',
            error: function() {
                alert('there was an error while fetching events!');
            }
        }
    ],
        eventClick: function(event) {
        if (event.url) {
            window.open(event.url);
            return false;
        }
    }
          });
      
          /* hide default buttons */
          $('.fc-header-right, .fc-header-center').hide();

      
        $('#calendar-buttons #btn-prev').click(function () {
            $('.fc-button-prev').click();
            return false;
        });
        
        $('#calendar-buttons #btn-next').click(function () {
            $('.fc-button-next').click();
            return false;
        });
        
        $('#calendar-buttons #btn-today').click(function () {
            $('.fc-button-today').click();
            return false;
        });
        
        $('#mt').click(function () {
            $('#calendar').fullCalendar('changeView', 'month');
        });
        
        $('#ag').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaWeek');
        });
        
        $('#td').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });     
        $('#events_table_processing').addClass('bg-color-red')    
    })
        setTimeout(function(){
            $('#flash').remove();
        }, 5000);

  </script>
<% end %>

<style>
#events_table_processing
{

}
.fc-left{
    margin-top: -20px;
    margin-left: 10px;
}
</style>
