<p><%= @user.name %>,</p>

<p>This email is to confirm your attendance at the event  <strong><%= @event.event_name %></strong> and that <%= @event.point_val %> have been added to your account for your partipication</p>

<p> Thank you,</p>
<p> Gamifcation Team </p>
