<p><%= @user.name %>,</p>

<p>You can have been given access to the <%= @role.name %> role.</p>

<p>Abilities for this role include:</p>

<% @role.permissions.pluck(:name, :description).each do |perm| %>

<p><strong><%= perm[0]  %></strong>: <%= perm[1] %> </p>

<% end %>

<p> Thank you,</p>
<p> Gamifcation Team </p>
