<p><%= @user.name %>,</p>

<p>This email is to confirm that you are now a host for the event  <strong><%= @event.event_name %></strong></p>

<p>Please note that as a host you will not be able to recieve points for attending this event</p>

<p> Thank you,</p>
<p> Gamifcation Team </p>
