<p><%= @user.name %>,</p>

<p>You can have been invite to join <strong><%= @organization.name %></strong> </p>

<p>Log in to Gamification to accept or decline this invitation</p>


<p> Thank you,</p>
<p> Gamifcation Team </p>
