<p><%= @user.name %>,</p>

<p>Your organization  <strong><%= @organization.name %></strong> has a new request for membershop from <%= @member.name %> (<%= @member.email %>)</p>

<p>Log in to Gamification and navigate to this organizations member page to accept or decline this request</p>


<p> Thank you,</p>
<p> Gamifcation Team </p>
