<p><%= @user.name %>,</p>

<p>Your request to join  <strong><%= @organization.name %> has been accepted</strong> </p>

<p>Log in to Gamification to to access the member page for this organization</p>


<p> Thank you,</p>
<p> Gamifcation Team </p>
