<%- if controller_name != 'sessions' %>
 <li><%= link_to '<i class="fa fa-sign-in fa-lg"></i> Log in'.html_safe, new_session_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
  <% end -%>
<% end -%>
