<h2 class="text-center"><%= Location.find(current_kiosk.location_id).building_name + " - RM:" + Room.find(current_kiosk.room_id).room_number %></h2>
<div class="row" %>
  <%= link_to '<i class="fa fa-arrow-circle-left fa-lg"></i> Back'.html_safe,main_path,:class => "btn btn-primary btn-md ",:style => "float:left; margin-left:20px;" %>
  <%= link_to '<i class="fa fa-sign-out fa-lg"></i> Log Out'.html_safe, destroy_kiosk_session_path , :method => :delete,:class => "btn btn-danger btn-md text-right", :style => "float:right; margin-right:20px;"%>
</div>
<hr>
<div id='events_grid' class="row" style='display: block;margin-top:40px;'></div>
<table summary "Events List" id="events_table" style="display: none"class="table table-hover"  data-source="<%= list_path(format: "json") %>"></table>




<% content_for :scripts do %>
  <script type="text/javascript">

    var datatable;
    $( document ).ready(function() {
      var events_table = $('#events_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "iDisplayLength": 12,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#events_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Square Setup", "data": "events_eventTile"}
        ],
        fnServerParams: function ( aoData ) {
          aoData.push( 
            { "name": "sSearch", "value": $("#events_table_search").val() },
            { "name": "iDisplayLength", "value": $("#events_table_length").val() }
          );
        },
        fnDrawCallback: function( oSettings ) {
          $('#events_grid').html('');
          $.each(oSettings.aoData, function( index, result ) {
            $('#events_grid').append(result._aData.events_eventTile);
          });
      }
    });
      $("#events_table_length").on("change", function() {
        events_table.dataTable().api().draw(false);
      });
      $('#events_table_search').keyup(function(){
       	events_table.dataTable().api().draw(false);
      });

    })
  </script>
<% end %>

