.usermenu{
	border-radius: 0px;
	background-color: #2e353d;
	color: #e1ffff;
}

ul.nav.navbar-nav.mainnav > li > a {
	color: #e1ffff;
}
ul.nav.navbar-nav.mainnav > li > a:hover {
	color: #fff;
    background-color: #43600E;
}

div.navbar-header > a.navbar-brand{
	color: #e1ffff;
}