 <%= link_to({:controller => 'kiosk_pages',:action => 'manage', :event_id => event.id}) do %>

<div class="col-md-3 col-sm-6">
<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
        <div>
          <div class="widget-body widget-hide-overflow no-padding" style="height:230px;">
              <% if event.image_url.to_s == "" %>
                <img class="event_tile_img" src="http://placehold.it/320x330">
              <% else %>
                <%= image_tag event.image_url(:kiosk_page).to_s ,:class => "event_tile_img" %>
              <% end %>
           <div class="widget-footer" style="position:absolute;bottom:0;width:100%">
            <p><%= event.event_name %> - <%= event.day_time.to_formatted_s(:long_ordinal) %></p>
          </div>
          </div>
        </div>
        <!-- end widget div -->
      </div>
      </div> 
<% end %>

