<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <%= form_tag("/kiosk/main", method: "post") do %>
                            <div class="input-group">
                              <%= password_field_tag "pin", "" , :placeholder => "Host PIN", :style => "height:100px;font-size: 50px" ,:class => "form-control"%>
                                <span class="input-group-btn">
                                    <%= submit_tag "Submit", :class => "btn btn-success ",:style => "height:100px;"%>
                                </span>
                            </div>
                        <% end %>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>


input { font-size: 18px; }
 .panel{
    margin-top:50%;
 	border:none;
 }
</style>