<div class="navbar-div">
  <ul class="nav nav-pills site_nav">
    <li class="nav-item col-sm-offset-1">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Scan Code</a>
    </li>
    <li class="nav-item">
     <%= link_to "Log Out", destroy_user_session_path , :method => :delete, :class => "nav-link " + current_class?(destroy_user_session_path)%>
    </li>
  </ul>
</div>