<h1 class="jumbotron text-center panel"><%= current_user.username ? current_user.username+ "'s" : "" %> Dashboard</h1>
<hr>
<% count = 0 %>
<% @events.each do |event| %>
<% count += 1 %>
<% if count % 3 || count == 0 %>
	<div class"row">
<% end %>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading "><%= event.event_name %> <p class="text-right inline"><%=  event.day_time.strftime("%m/%d/%Y %I:%M %p") %></p></div>
		  <div class="panel-body">
		    <p><%= event.description %> </p>
		  </div>
		</div>
	</div>
</div>
<% end %>

<% if @events.count == 0 %>
	<h1>No Events To Display</h1>
<% end %>

