<table summary "User List" id="users_table" class="display responsive" data-source="<%= user_index_path(format: "json") %>">
		<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>Created at</th>
			<th>Updated</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>

	</tbody>
</table>
<%= javascript_tag do %>


  $('#users_table').DataTable({
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#users_table').data('source')
});
<% end %>