/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 *= require font-awesome
 *= require bootstrap.css
 *= require bootstrap-glyphicons.css
 *= require bootstrap.min.css
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/accordion
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery-ui/menu
 *= require jquery-ui/progressbar
 *= require jquery-ui/selectmenu
 *= require jquery-ui/slider
 *= require jquery-ui/spinner
 *= require jquery-ui/tabs
 *= require jquery-ui/tooltip
 *= require jquery.gridster.css
 *= require bootstrap-datetimepicker
 */
.verticalLineLeft {
    border: 0;
    border-left: 1px solid #eee;
}
.verticalLineRight {
    border: 0;
    border-right: 1px solid #eee;
}
.page
body{
	background-color: #E0E0E0;
}

.flash_msg{
	margin-top: 50px;
	z-index: 50;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.page-heading-bar{
height: 40px;
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);

border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
border: 1px solid #D5D5D5;

display: inline-block;
font-size: 14px;
font-weight: 600;
color: #555;
margin-top: 20px;
margin-left: -10px;
margin-bottom: 10px;
width:105%;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.page-panel{
	padding: 20px;
	margin-left: -10px;
	margin-top: 10px;
	width: 100%;
	height: 80%;
}

.userevent{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.gridster > ul{
	 list-style-type: none
}

a.new{
	background-color:  #009900;
	border: none;
	border-radius: 10px;
}

a.new:hover{
	background-color:  #00cc00;
	border: none;
}

.dashboard_header{
	background-image: url(http://placehold.it/350x150);
	background-repeat: no-repeat;
	opacity: 1;
	background-size: 1440px 180px;
	margin-bottom: 0px;
	margin-top:10px;
	border:none; 
	margin-left:-30px;
	margin-right:-30px;
	height: 150px;
}

.dashboard_text_header
{
	color:white;
	margin: 0px;
}

.event_tile_img{
	border-radius: 5px;
}