/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require font-awesome
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/accordion
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery-ui/menu
 *= require jquery-ui/progressbar
 *= require jquery-ui/selectmenu
 *= require jquery-ui/slider
 *= require jquery-ui/spinner
 *= require jquery-ui/tabs
 *= require jquery-ui/tooltip
 *= require daterangepicker-bs3
 *= require bootstrap-datetimepicker
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/sprites
 *= require smartadmin-production.scss
 *= require smartadmin-skins.scss
 *= require_tree .
 *= require_self
 */

.bigBox span {
font-size: 30px;
}

 .col-centered{
    float: none;
    margin: 0 auto;
}



body {
	margin-top:40px;
}



.smart-style-5 div.daterangepicker.dropdown-menu.show-calendar.opensright{
	background-color: white;
		color:black;

}

.smart-style-5 .form-control::-webkit-input-placeholder { color: white; }
.smart-style-5 .form-control:-moz-placeholder { color: white; }
.smart-style-5 .form-control::-moz-placeholder { color: white; }
.smart-style-5 .form-control:-ms-input-placeholder { color: white; }
 .smart-style-5 #ribbon .breadcrumb {
 	background:none;
 }
.smart-style-5 .userevent div{
  color:black;
}
div.userevent:hover{
background: rgb(200,200,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(200,200,200,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(200,200,200,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}




