.datatable{
	background-color: #2e353d;
	color:white;
}
.datatable > tbody > .odd{
	color: #2e353d;
	background-color: white;
}

.datatable > tbody > .even{
	color: #2e353d;
	background-color: white;
}