
/* LOGIN AND SIGNUP */
.login_panel{
	border: 1px solid #ddd;
	margin-top: 100px;

	border-radius: 15px;
  background-color: #f2f2f2;
}
.login-box{
  border: 1px solid #ddd; 
 
  padding: 10px 20px 0 20px;
}

.login_header{

}

.flash-container{
	  opacity: .9;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: -80px;
    z-index -1;
    color: white;
    } 

