
/* LOGIN HEADER */
.login_panel{
	border: 1px solid #ddd;
	position: relative;
	margin-top: 100px;
	left: 30%;
	border-radius: 10px;
}
.login-box{
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 10px 20px 0 20px;
}

.login_header{

}