<%= link_to(show_organizations_path(organization) ) do %>
  <div class="<%=style %>" >
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1">
      <div>
        <div class="widget-body widget-hide-overflow no-padding" style="height:200px;">
          <img class="organization_tile_img" src="http://placehold.it/610x200">
          <div class="widget-footer text-left" style="position:absolute;bottom:0;width:100%">
            <p><%= organization.name %>
            <% if (can? :update, organization, :context => :admin) %>
              <%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="Show" class="fa fa-pencil fa-sm"></i>'.html_safe, {:controller => 'Admin::Organization',:action => 'edit', :id => organization.id} ,:class => "btn  btn-sm", :style => "float:right;display:inline;") %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
        <!-- end widget div -->
    </div>
  </div>
<% end %>



<style>
.points{
  position: absolute;
  top: 5%;
  right: 0;
  margin-right: 5px;
  float:right;
}
</style>



