
<% if current_user.organizations.size > 0 %>
   <h2>My Organizations</h2>
   <div class="col-md-12" id='my_organizations_grid'></div>
   <table summary "organizations List" id="my_organizations_table" style="display: none"class="table table-hover"  data-source="<%= organizations_path(format: "json") %>"></table>
   <hr>
<% end %>
<h2>All Organizations</h2>
<div class="row">
  <div class="col-md-12">
    <%= link_to('Create New Organization'.html_safe, new_organization_request_organizations_path, :class  => "btn btn-info") %>
    <div class="col-md-3 pull-right">
      <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-search"></i></span>
         <input id='organizations_table_search' type="search" class="form-control" placeholder="Search all organizations...">
      </div>
    </div>
  </div>
</div>
<br>
   <div class="col-md-12" id='organizations_grid'></div>
   <table summary "organizations List" id="organizations_table" style="display: none"class="table table-hover"  data-source="<%= organizations_path(format: "json") %>"></table>




<% content_for :scripts do %>
<script type="text/javascript">
   var datatable;
   $( document ).ready(function() {
     pageSetUp();
     var organizations_table = $('#organizations_table').dataTable({
       "sDom": "<'row'<'col-lg-12'>r>t<'row'<'col-lg-12 col-md-12'><'col-lg-7 col-md-7 center'p>>",
       "sPaginationType": "simple",
       "iDisplayLength": 6,
       "bProcessing": true,
       "bServerSide": true,
                "oLanguage": {
        "sProcessing": "<div class='shaft-load3'><div class='shaft1'></div><div class='shaft2'></div><div class='shaft3'></div><div class='shaft4'></div><div class='shaft5'></div><div class='shaft6'></div><div class='shaft7'></div><div class='shaft8'></div><div class='shaft9'></div> <div class='shaft10'></div></div>"
           },
       "sAjaxSource": $('#organizations_table').data('source'),
       "aaSorting": [[ 0, "desc" ]],
        "columns": [
         { "title": "Square Setup", "data": "organizations_orgTile"}
       ],
       fnServerParams: function ( aoData ) {
         aoData.push(
           { "name": "sSearch", "value": $("#organizations_table_search").val() },
            { "name": "myOrgs", "value": 0 },
           { "name": "iDisplayLength", "value": $("#organizations_table_length").val() }
         );
       },
       fnDrawCallback: function( oSettings ) {
         $('#organizations_grid').html('');
         $.each(oSettings.aoData, function( index, result ) {
           $('#organizations_grid').append(result._aData.organizations_orgTile);
         });
     }
   });


     var my_organizations_table = $('#my_organizations_table').dataTable({
       "sDom": "<'row'<'col-lg-12'>r>t<'row'<'col-lg-12 col-md-12'><'col-lg-7 col-md-7 center'p>>",
       "sPaginationType": "simple",
       "iDisplayLength": 6,
       "bProcessing": true,
       "bServerSide": true,
                "oLanguage": {
        "sProcessing": "<div class='shaft-load3'><div class='shaft1'></div><div class='shaft2'></div><div class='shaft3'></div><div class='shaft4'></div><div class='shaft5'></div><div class='shaft6'></div><div class='shaft7'></div><div class='shaft8'></div><div class='shaft9'></div> <div class='shaft10'></div></div>"
           },
       "sAjaxSource": $('#my_organizations_table').data('source'),
       "aaSorting": [[ 0, "desc" ]],
        "columns": [
         { "title": "Square Setup", "data": "organizations_orgTile"}
       ],
       fnServerParams: function ( aoData ) {
         aoData.push(
           { "name": "sSearch", "value": $("#my_organizations_table_search").val() },
           { "name": "myOrgs", "value": 1 },
           { "name": "iDisplayLength", "value": 20 }
         );
       },
       fnDrawCallback: function( oSettings ) {
         $('#my_organizations_grid').html('');
         $.each(oSettings.aoData, function( index, result ) {
           $('#my_organizations_grid').append(result._aData.organizations_orgTile);
         });
     }
   });




     $("#organizations_table_length").on("change", function() {
       organizations_table.dataTable().api().draw(true);
     });
     $('#organizations_table_search').keyup(function(){
       organizations_table.dataTable().api().draw(true);
     });

   })
       setTimeout(function(){
           $('#flash').remove();
       }, 5000);

</script>
<% end %>
