<%= form_for room, :url => admin_rooms_path, :remote => true, :format => :js do |f| %>
  <%=f.hidden_field :location_id, :value => @location.id %>
  <div class="input-group">
    <%= f.text_field :room_number , :placeholder => "Room Number", :class => "form-control"%>
    <span class="input-group-btn">
    <%= f.submit 'Create Room', :class => "btn btn-success "  %></span>
  </div>
<% end %>