<div id= "ribbon">
		<ol class="breadcrumb">
			<li >Admin</li>
	  	<li class="active">All Locations</li>
		</ol>
	</div>
<div class="row">
	<div class="col-md-6">
		<%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="New" class="fa fa-plus-square fa-lg"></i> New Location'.html_safe, {:action => 'new'} ,:class => "btn btn-primary new") %>
	</div>
	<div class="col-md-6 text-right">
		  <input id='locations_table_search' type="search" class="form-control" placeholder="Search..." style="display: inline; width: 200px; height: 20px;">
	   <span class="btn btn-sm btn-primary text-right" id="locations_table_refresh"><i class="fa fa-refresh"></i></span>
	</div>
</div>
<br>
<div class="table-responsive">
<table summary "Locations List" id="locations_table" class="table table-hover"  data-source="<%= admin_location_index_path(format: "json") %>"></table>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){  
      var locations_table = $('#locations_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#locations_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Id", "data": "locations__id" },
          { "title": "Building Name", "data": "locations__building_name" },
          { "title": "Rooms", "data": "locations__rooms" },
          { "title": "Actions", "data": "location_actions", "bSortable" : false }
        ],
        fnServerParams: function ( aoData ) {
          aoData.push( 
            { "name": "sSearch", "value": $("#locations_table_search").val() },
            { "name": "iDisplayLength", "value": $("#locationss_table_length").val() }
          );
        },
      });
      $("#locations_table_length").on("change", function() {
        locations_table.dataTable().api().draw(false);
      });
      $('#locations_table_refresh').click(function(e){
        locations_table.dataTable().api().draw(false);
      });
      $('#locations_table_search').keyup(function(){
       	locations_table.dataTable().api().draw(false);
      });
		});
  </script>
<% end %>