<div class="row">
	<div class="col-md-6">
		<%= link_to('<i data-toggle="tooltip" data-placement="bottom" title="New" class="fa fa-plus-square fa-lg"></i> New Location'.html_safe, {:action => 'new'} ,:class => "btn btn-primary new") %>
	</div>
	<div class="col-md-3 pull-right">

    <div class="input-group">
     <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input id='locations_table_search' type="search" class="form-control" placeholder="Search...">
     <span class="input-group-addon"><span id="locations_table_refresh"><i class="fa fa-refresh"></i></span></span>
    </div>

	</div>
</div>
<br>
<div class="table-responsive">
<table summary "Locations List" id="locations_table" class="table table-hover"  data-source="<%= admin_location_index_path(format: "json") %>"></table>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var locations_table = $('#locations_table').dataTable({
        "sDom": "<'row'<'col-lg-12'r>>t<'row'<'col-lg-12 col-md-12'i><'col-lg-7 col-md-7 center'p>>",
        "sPaginationType": "full_numbers",
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": $('#locations_table').data('source'),
        "aaSorting": [[ 0, "desc" ]],
         "columns": [
          { "title": "Id", "data": "locations__id" },
          { "title": "Building Name", "data": "locations__building_name" },
          { "title": "Rooms", "data": "locations__rooms_count" },
          { "title": "Actions", "data": "location_actions", "bSortable" : false }
        ],
        fnServerParams: function ( aoData ) {
          aoData.push(
            { "name": "sSearch", "value": $("#locations_table_search").val() },
            { "name": "iDisplayLength", "value": $("#locations_table_length").val() }
          );
        },
      });
      $("#locations_table_length").on("change", function() {
        locations_table.dataTable().api().draw(false);
      });
      $('#locations_table_refresh').click(function(e){
        locations_table.dataTable().api().draw(false);
      });
      $('#locations_table_search').keyup(function(){
       	locations_table.dataTable().api().draw(false);
      });
		});
  </script>
<% end %>
